<!DOCTYPE html>
<html>
  <head>
    <title>CdpWebRailsSessionLoginTask</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <header>
      <!-- Fixed navbar -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
          <a class="tasks-index" href="<%= tasks_path %>" id="tasks-index">タスク一覧 </a>
          
          <a class="new-task" href="<%= new_task_path %>" id="new-task">タスクを登録する</a>
              
        </nav>
    </header>
    <p id="notice"><%= notice %></p>
    <%= yield %>
  </body>
</html>
